@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
*::-webkit-scrollbar {
    display: none;
  }
body{
    background: #171717;
    min-height: 200vh;
}
.logo:hover{
    height: 15vh;
}
.banner{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url(./psihelp-bg.png);
    background-size: cover;
    background-position-x: center;
    z-index: -1;
    top: 0%
}
#dado{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50vh;
    left:30vw;
    text-shadow: 0 10px 6px #171717;
    transition: 600ms;
}

/* texto por baixo */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

#projeto-container{
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    top: 105vh;
    font-size: 1.4vw;
    z-index: 1;
    background-color: #fff;
    height: 2.6vw;
}
#projeto{
    color: rgb(255, 255, 255);
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 1.8vw;
    margin: 0;
    left: 4vw;
    font-family: 'Nunito', sans-serif;
    width: 13vw;
}
#texto3{
    position: relative;
    top: 111vh;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    z-index: -1;    
    padding: 5px;
}  
#texto4{
    position: relative;
    top: 113vh;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2vh;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding: 5px;
}
#gapN{
    padding-left: 10px;
}
/* animação de scroll */
.hidden2{
    transition: 1s;
    width: 13vw;
}
.show2{
    background-color: transparent;
    width: 0vw;
    
}
.hidden{
    opacity: 0;
    transition: 500ms;
    transform: translateY(100%);
}
.show{
    opacity: 1;
    transform: translateY(0);
}
/*navBar*/
.navbarContainer{
    display: grid;
    grid-template: 70px / 5fr 1fr max-content;
    padding-right: 2vw;
    column-gap: 3vw;
  }
  .logo{
    height: 10vh;
    aspect-ratio: 1;
    transition: 600ms;
    -webkit-user-drag: none;
    z-index: 1;
  }
  .navBar{
    transition: 600ms;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    z-index: 0;
  } 
  .testes{
    font-size: 2vh;
    transition: 600ms;
    color: #fff;
    cursor: default;
    text-decoration: none;
    z-index: 9999;
    
  }
  .testes:hover{
    font-size: 1.5em;
  } 
  
  .testes2:hover{
    font-size: 1.5em;
  }
  
  .dropdown-menu1{
    visibility: collapse;
    z-index: 1;
    transition: 300ms;
    scale: 0;
  }
  .navBar:hover .dropdown-menu1{
    visibility: visible;
    position: absolute;
    scale: 1;
  }
  a{
    text-decoration: none;
    color: #fff;
  }
  @media screen and (min-width: 800px){
  
  .navBar2{
    transition: 600ms;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold; 
    z-index: 0;
  } } 
  .saude{
    font-size: 1,2vh;
    transition: 600ms;
    color: #fff;
    cursor: default;
    text-decoration: none;
    z-index: 9999;
  }
  .saude:hover{
    font-size: 1.5em;
  }
  .dropdown-menu2{
    visibility: collapse;
    z-index: 1;
    transition: 300ms;
    scale: 0;
  }
  .navBar2:hover .dropdown-menu2{
    visibility: visible;
    position: absolute;
    scale: 1;
  }
/*footer*/
  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
  #footer{
    display: grid;
    grid-template: auto / 10vw auto auto auto;
    column-gap: 1vw;
    position: relative;
    top: 120vh;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    cursor: default;
    font-size: 0.85vw;
}
.logoFooter{
    aspect-ratio: 1;
    border-right: rgb(29, 146, 29) solid 1.5px;
    max-width: 10vw;
}
#titulo{
    font-weight: bold;
}
#colInforma a{
    display: block;
    margin-bottom: 2vh;
}
#colContactos{
    margin-top: 1em;
}
.navMobile{
    visibility: collapse;
    display: none;
}
.burger{
    display: none;
}