*::-webkit-scrollbar {
    display: none;
  }
body{
    background: #171717;
    min-height: 200vh;
}
.logo{
    height: 10vh;
    aspect-ratio: 1;
    position: absolute;
    transition: 600ms;
    -webkit-user-drag: none;
    top: 1.1vh;
    left: 2vw;
    z-index: 1;
    position: fixed;
    float: left;
}
.logo:hover{
    height: 15vh;
}
/*navBar*/
.navBar{
    position: fixed;
    top: 1vh;
    width: 0.5vw;
    display: grid;
    justify-content: flex-end  ;
    align-items: center;
    transition: 600ms;
    padding: 40px 0px; 
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    z-index: 0;
    left: 89vw;

} 
.testes{
    position: absolute;
    font-size: 1,2vh;
    transition: 600ms;
    color: #fff;
    padding: 15px;
    cursor: default;
    text-decoration: none;
    z-index: 9999;
    
}
.testes:hover{
    font-size: 1.5em;
} 

.testes2:hover{
    font-size: 1.5em;
}

.dropdown-menu1{
    visibility: collapse;
    position: absolute;
    min-width: 158px;
    z-index: 1;
    transition: 300ms;
    scale: 0;
    left: -2vw;
    top: 3vh;
}
.navBar:hover .dropdown-menu1{
    visibility: visible;
    position: absolute;
    transform: translate(3vw , 7vh);
    scale: 1;
}
a{
    text-decoration: none;
    color: #fff;
}
@media screen and (min-width: 1080px){
    .navBar2{
        position: fixed;
        top: 1vh;
        width: 6vw;
        display: grid;
        justify-content: flex-end  ;
        align-items: center;
        transition: 600ms;
        padding: 40px 0px;
        font-size: 2vh;
        font-family: 'Nunito', sans-serif;
        font-weight: bold; 
        z-index: 0;
        left: 74vw;
    } 
}
@media screen and (min-width: 800px){

.navBar2{
    position: fixed;
    top: 1vh;
    width: 14vw;
    display: grid;
    justify-content: flex-end  ;
    align-items: center;
    transition: 600ms;
    padding: 40px 0px;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    font-weight: bold; 
    z-index: 0;
    left: 74vw;
} }
.saude{
    position: absolute;
    font-size: 1,2vh;
    transition: 600ms;
    color: #fff;
    padding: 15px;
    cursor: default;
    text-decoration: none;
    z-index: 9999;
}
.saude:hover{
    font-size: 1.5em;
}
.dropdown-menu2{
    visibility: collapse;
    position: absolute;
    min-width: 158px;
    z-index: 1;
    transition: 300ms;
    scale: 0;
    left: -2vw;
    top: 3vh;
}
.navBar2:hover .dropdown-menu2{
    visibility: visible;
    position: absolute;
    transform: translate(3vw , 7vh);
    scale: 1;
}
/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
#footer{
    position: relative;
    top: 140vh;
    padding-left: 0.75vw;
    font-family: 'Rubik', sans-serif;
    color: #fff;
    height: 13vh;
    width: 70vw; 
    cursor: default;
    font-size: 0.85vw;
}
.logoFooter{
    position: relative;
    aspect-ratio: 1;
    width: 6vw;
    border-right: rgb(29, 146, 29) solid 1.5px;
}
#titulo{
    font-weight: bold;
}
#footerTexto{
    display:flex;
    justify-content: space-between;
    transform: translateY(-12vh);
    left: 8vw;
    position: relative;
    width: 60vw;

}
#colInforma a{
    display: block;
    margin-bottom: 2vh;
}
#colContactos{
    margin-top: 1em;
}
.navMobile{
    visibility: collapse;
}