@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
body{
    align-items: center;
    background-color: #171717;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    justify-content: center;
    color: white;
    font-family: 'Nunito', sans-serif;
    cursor: default;
}

h1{
    top: 100px;
    left: 400px;
    position: relative;
}
.card{
    height: 40vh;
    width: 23vw;
    background-image: linear-gradient(to bottom right, #424242 , #131010);
    border-radius: 10%;
    cursor:pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 300ms;

}
#cards{
    top: 200px;
    left: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}
#card1:hover{
    height: 56vh;
    width: 32.2vw;
    font-size: 1.4em;
}
#card2:hover{
    height: 56vh;
    width: 32.2vw;
    font-size: 1.4em;
}
#card3:hover{
    height: 56vh;
    width: 32.2vw;
    font-size: 1.4em;
}
#card1:hover > .t1{
    visibility: visible;
}
#card2:hover > .t2{
    visibility: visible;
}
#card3:hover > .t3{
    visibility: visible;
}
#t{
    position: relative;
    visibility: collapse;
    padding: 5%;
    display: flex;
    justify-content: center;
    font-size: medium;
}
.logo{
    height: 10vh;
    aspect-ratio: 1;
    position: absolute;
    transition: 600ms;
    -webkit-user-drag: none;
    top: 1.1vh;
    left: 2vw;
    z-index: 1;
    position: fixed;
    float: left;
}
.logo:hover{
    height: 15vh;
}
a{
    text-decoration: none;
    color: #fff;
}
#card1:hover > h3{
    font-size: 1.4em;
    position: relative;
    height: 10vh;

}
#card2:hover > h3{
    font-size: 1.4em;
    position: relative;
    height: 10vh;
}
#card3:hover > h3{
    font-size: 1.4em;
    position: relative;
    height: 10vh;
}
h1{
    position: absolute;
    top: 5vh;
}
h3{
    place-content: center;
    place-items: center;
    height: 40vh;
    width: 23vw;
    margin: auto;
    display: flex;
    font-size: 2em;
}

/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
#footer{
  display: grid;
  grid-template: auto / 10vw auto auto auto;
  column-gap: 1vw;
  position: relative;
  bottom: -20vh;
  font-family: 'Rubik', sans-serif;
  color: #fff;
  cursor: default;
  font-size: 0.85vw;
}
.logoFooter{
  aspect-ratio: 1;
  border-right: rgb(29, 146, 29) solid 1.5px;
  max-width: 10vw;
}
#titulo{
  font-weight: bold;
}
#colInforma a{
  display: block;
  margin-bottom: 2vh;
  font-weight: normal;
}
#colContactos{
  margin-top: 1em;
}
#colContactos p{
  font-weight: normal;
}
#colTestes a{
  font-weight: normal;
}