@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');
body{
    align-items: center;
    background-color: #171717;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center ;
    color: white;
    font-family: 'Nunito', sans-serif;
    cursor: default;
}
.card{
    height: 40vh;
    width: 23vw;
    background-color: rgba(255, 255, 255, 0.04);
    border-radius: 10%;
    cursor:pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: 300ms;

}
#cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
#card1:hover{
    height: 56vh;
    width: 32.2vw;
    font-size: 1.4em;
}   
#card2:hover{
    height: 56vh;
    width: 32.2vw;
    font-size: 1.4em;
}
#card3:hover{
    height: 56vh;
    width: 32.2vw;
    font-size: 1.4em;
}
#card1:hover > .t1{
    visibility: visible;
}
#card2:hover > .t2{
    visibility: visible;
}
#card3:hover > .t3{
    visibility: visible;
}
#t{
    position: relative;
    visibility: hidden;
    padding: 5%;
    display: flex;
    justify-content: center;
    font-size: medium;
}
.logo{
    height: 10vh;
    aspect-ratio: 1;
    position: absolute;
    transition: 600ms;
    -webkit-user-drag: none;
    top: 1.1vh;
    left: 2vw;
    z-index: 1;
    position: fixed;
    float: left;
}
.logo:hover{
    height: 15vh;
}
a{
    text-decoration: none;
    color: #fff;
}
#card1:hover > h3{
    font-size: 1.4em;
}
#card2:hover > h3{
    font-size: 1.4em;
}
#card3:hover > h3{
    font-size: 1.4em;
}
h1{
    position: absolute;
    top: 5vh;
}