#dado{
    font-size: 4vw;
    margin:auto;
    top: 40vh;
    left: 70vw;
}
body{
    font-size: 100px;
    display: block;
    margin: 0;
    overflow-x: hidden;
}
.navBar , .dropdown-menu1 , .navBar2 , .saude{
    scale: 0;
    transition: 0ms;
    visibility: collapse;
}
.banner{
    position: relative;
    width: 160vw;
    height: 78vh;
    aspect-ratio: 1.777777778;
    background-image: url(./psihelp-bg.png);
    background-size: cover;
    z-index: -1;
    transform: translateX(-60vw);
}
#texto3{
    position: relative;
    top: 10vh;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2vh;
    column-gap: 10px;
    font-weight: bold;
    padding: 8px;
}
#texto4{
    position: relative;
    top: 13vh;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 2vh;
    column-gap: 10px;
    font-weight: bold;
    padding: 8px;
}
/*NavBar*/
.img{
    max-width: 50vw;
}
.menuTele{
    visibility: visible;
    position: fixed;
    top: 2%;
    right: 1%;
    aspect-ratio: 1;
    height: 0.40em;
    transition: 300ms;
}
.menuTele:hover{
    aspect-ratio: 1;
    height: 0.3em;
    rotate: 90deg;
}
.navMobile{
    visibility: hidden;
    position: fixed;
    background-color: #616161c0;
    z-index: 1000;
    height: 0.4em;
    aspect-ratio: 1;
    top: 2%;
    right: 1%;
}
.navMobile:hover{
    right: 0;
    top: 0;
    width: 40vw;
    height: 100vh;
    visibility: visible;
    transition: 600ms;
}
.mobTestes, .mobSaude{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    position: relative;
    color: #fff;
    font-size: 15px;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    top: 5vh;
}
/*Texto em baixo*/
#projeto{
    top: -20vh;
    font-size: 3vw;
    transition: 0ms;
    width: 25vw;
}
#projeto-container{
    transition: 0ms;
}
/*Footer*/
#footer{
    top: 180vh;
    position: absolute;
}
#footerTexto{
    transform: translateY(-5vh);
}
@media screen and (max-width: 654px){
    #footer{
        
        border: red solid;
    }
    #footerTexto{
        transform: translateY(-5vh);
    }
    
}
